table {
    border-collapse: collapse;
	margin: auto;
    background-color: aqua;
  }
  
  td {
    padding: 10px;
    border: 1px solid black;
  }
  h1{
    text-align: center;
    color: red;
  }
  